#activete {
    font-family: 'Comfortaa';
    font-size: 20px;
    color: #ffffff !important;
    padding: 0px 0px;
    border-radius: 0px;
    border: 3px inset #f3c846;
    background: #9e220a;
    background: linear-gradient(to bottom, #ff6200, #ddbe10);
}
#activete:hover {
    color: #ffffff !important;
    background: #f66d52;
    background: linear-gradient(to bottom, #ff6200, #bf8e25);
}
#menu {
    background-color: rgb(57, 52, 52);
    position: fixed;
    right: 80%;
    height: 100%;
    width: 20%;
    display: none;
}
.close {
    position: absolute;
    top: 5px;
    right: 20px;
}
body{
    background-color: rgb(141, 220, 208);
    background-image: url(https://cdn.akamai.steamstatic.com/steam/apps/284160/ss_1b129249ad662d242a81a34ee2fdcdcbe064eb32.1920x1080.jpg?t=1709017559);
    z-index: 2;
    position: absolute;
}
.lenta{
    background-color: azure;
    width: 650px;
    left: 570px;
    height: 100vh;
    z-index: 1;
    position: absolute;
}
.BeamNG{
    color: #ff6200;
    left: 650px;
    position: absolute;
    z-index: 3;
    font-size: 20px;
}
.drive{
    color: black;
    z-index: 3;
    position: absolute;
    left: 820px;
    font-size: 20px; 
}
.button{
    font-family: 'Comfortaa';
    font-size: 20px;
    color: #ffffff !important;
    padding: 3px 9px;
    border-radius: 0px;
    border: 2px outset #f3c846;
    background: #9e220a;
    background: linear-gradient(to bottom, #ff6200, #ddbe10);
}
.button:hover{
    color: #ffffff !important;
    background: #f66d52;
    background: linear-gradient(to bottom, #ff6200, #bf8e25);
}
.menu2{
    position: absolute;
    background-color: rgb(57, 52, 52);
    width: 650px;
    height: 70px;
    top: 100px;
    left: 570px;
    z-index: 4;
}
#menu-button{
    background: rgb(57, 52, 52);
    background-color: rgb(57, 52, 52);
    color: azure;
    font-size: 20px;
    top: 120px;
    left: 750px;
    position: absolute;
    z-index: 5;
}
#top-of-mods{
    position: absolute;
    background: rgb(57, 52, 52);
    background-color: rgb(57, 52, 52);
    color: azure;
    font-size: 20px;
    z-index: 5;
    top: 110px;
    left: 895px;
}
.ABOUT_US{
    color: black;
    z-index: 3;
    position: absolute;
    left: 920px;
    font-size: 40px;
    z-index: 5;
    top: 55px;
}
.sus{
    color: black;
    z-index: 7;
    top: 140px;
    left: 620px;
    z-index: 5;
    position: relative;
}
#a_button{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: black;
}